.gallery{
  display: grid;
  max-width: 1200px;
  grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
  grid-gap: 10px;
  padding: 0;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
}
.gallery__image{
  width: 100%;
}


.search-form{
  display: flex;
  justify-content: center;
  align-items: center;
  //margin-top: 20px;
  background-color: aqua;
}

.input{
  padding: 15px;
  border: solid 3px white;
  border-radius: 10px;


}

.submit-btn{
  padding: 16px;
  border: solid 3px white;
  border-radius: 10px;
  background-color: white;
  margin-left: 3px;


}





